:root{
    --background-color: #fff;
    --lightgray: #d3d3d3;
    --blue: #1a0dab;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    min-height: 100vh;
    background: var(--background-color);
    overflow-x: hidden;
}
header{
    background-color: var(--background-color);
    color: #5f6368;
    border-bottom: 1px solid var(--lightgray);
}
input{
    width: 750px;
    height: 45px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border: none;
    top: -12px;
    text-indent: 30px;
    font-size: 15px;
    font-weight: 100;
}
span{
    cursor: pointer;
}
img{
    width: 92px;
    height: auto;
    padding-right: 20px;
}
.header-space{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 10px 30px;
}
.hr-header{
    transform: rotate(90deg);
    position: relative;
    top: -13px;
    right: -20px;
    border: 0.5px solid #dfe1e5;
}
.first{
    position: relative;
    top: -3px;
    padding: 10px;
    right: 140px;
}
.second{
    position: relative;
    top: -3px;
    right: 135px;
}
.third{
    position: relative;
    top: -3px;
    right: 130px;
    color: #1a73e8;
}
.icon-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin-left: 140px;
    padding-right: 10px;
}
.icon-position{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icon-position div{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header p{
    cursor: pointer;
}
.icon-margin span{
    padding: 10px;
}
.green{
    color: rgb(4, 133, 4);
}
p{
    display: inline-block;
}
main{
    margin-left: 180px;
    background-color: var(--background-color);
    min-width: 300px;
    max-width: 650px;
    padding: 10px;
    margin-bottom: 20px;
}
main h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
main h3{
    color: #202124;
    font-weight: 100;
    border-bottom: 1px solid var(--lightgray);
    margin: 5px 1px;
}
main h3{
    font-size: 25px;
}
.speed-information{
    font-size: 15px;
    font-weight: 400;
    color: #70757a;
}
.structure-one{
    margin-top: 10px;
    color: #202124;
}
.structure-one-type-one{
    display: flex;
}
.ad{
    font-weight: 900;
}
.structure-one-type-one div{
    margin-left: 10px;
}
.structure-one p{
    color: #202124;
}
.structure-one h2{
    color: var(--blue);
    font-weight: 100;
}
.structure-one-type-one-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 10px;
}
.structure-basic{
    margin-bottom: 20px;
}
.structure-basic p{
    color: #202124;
}
.structure-basic h2{
    color: var(--blue);
    font-weight: 100;
    padding: 5px 0px 5px 0px;
} 
.margin{
    margin-bottom: 20px;
    visibility: hidden;
}
.proposed-description{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.proposed-description p{
    color: #202124;
    font-size: 16px;
}
.proposed-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: center;
}
.structured-proposed-films p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.img{
    width: 100px;
    height: 100px;
}
.img1{
    background-color: rgb(10, 10, 10);
}
.img2{
    background-color: rgba(169, 169, 169, 0.897);
}
.img3{
    background-color: var(--blue);
}
.img4{
    background-color: rgb(5, 131, 5);
}
.img5{
    background-color: rgb(9, 252, 252);
}
.img6{
    background-color: rgb(124, 30, 212);
}
.see-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid =var(--lightgray);
}
.see-more button{
    padding: 10px 90px;
    border-radius: 30px;
    border: 0.5px solid var(--lightgray);
    background-color: var(--background-color);
    color: var(--blue);
    margin: 10px 20px 30px 20px;
}
.proposed-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.row-1{
    max-width: 50%;
}
.structure-proposed-links{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #f1f3f4;
    margin: 5px;
    border-radius: 40px;
}
.structure-proposed-links span{
    margin: 10px;
}
.structure-proposed-links p{
    width: 80%;
    font-size: 16px;
}
.structure-proposed-links p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.visiblity{
    visibility: hidden;
}
.row-2{
    max-width: 50%;
}
.final{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.final-one span{
    padding: 0px;
    font-size: 30px;
    font-weight: 900;
}
.b{
    color: var(--blue);
}
.r{
    color: rgb(236, 14, 14);
}
.o{
    color: rgb(245, 162, 9);
}
.g{
    color: rgb(6, 160, 6);
}
.final-two{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.final-two span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.margin-left{
    margin-left: 30px;
}
footer{
    padding-left: 180px;
    background: #f2f2f2;
    width: 100%;
    min-height: 10px;
    color: #70757a;
}
.footer-flex{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--lightgray);
    padding: 10px 5px 5px 5px;
}
.footer-flex div{
    margin: 10px;
}

.footer-flex li{
    display: inline-block;
}
.border-bottom-footer{
    border-right: 1px solid var(--lightgray);
    padding-right: 10px;
}
.flex-li-footer{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.flex-li-footer p{
    color: #3c4043;
} 
.hover:hover{
    text-decoration: underline;
    cursor: pointer;
}
.flex-footer-two{
    display: flex;
    justify-content: flex-start;
    padding: 5px 5px 15px 5px;
}
.flex-footer-two li{
    display: inline-block;
    margin: 10px;
}
.flex-footer-two li:hover{
    text-decoration: underline;
    cursor: pointer;
}