*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    min-height: 100vh;
    background: white;
    overflow-x: hidden;
}
header{
    background-color: white;
    color: #5f6368;
    border-bottom: 1px solid lightgray;
}
.test{
    transform: rotate(90deg);
    position: relative;
    top: -13px;
    right: -20px;
    border: 0.5px solid #dfe1e5;
}
.space{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}
.one{
    display: flex;
    flex-direction: column;
}
.two span{
    padding: 10px;
}
p{
    display: inline-block;
}
img{
    width: 92px;
    height: auto;
    padding-right: 20px;
}
.fivve p{
    cursor: pointer;
}
.fivve span{
    cursor: pointer;
}
input{
    width: 750px;
    height: 45px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border: none;
    top: -12px;
    text-indent: 30px;
    font-size: 15px;
    font-weight: 100;
}
span{
    cursor: pointer;
}
.test-5{
    color: green;
}
.four {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin-left: 140px;
    padding-right: 10px;
}
.fivve{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fivve div{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first{
    position: relative;
    top: -3px;
    padding: 10px;
    right: 140px;
}
.second{
    position: relative;
    top: -3px;
    right: 135px;
}
.six p{
    cursor: pointer;
}
.third{
    position: relative;
    top: -3px;
    right: 130px;
    color: #1a73e8;
}
main{
    margin-left: 180px;
    background-color: white;
    min-width: 300px;
    max-width: 650px;
    padding: 10px;
    margin-bottom: 20px;
}
.speed-information{
    font-size: 15px;
    font-weight: 400;
    color: #70757a;
}
.ad{
    font-weight: bold;
}
h3{
    font-size: 25px;
}
.structure-one-type-one{
    display: flex;
}
.structure-one-type-one div{
    margin-left: 10px;
}
.structure-one-type-one-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 10px;
}
.structure-one{
    margin-top: 10px;
    color: #202124;
}
.structure-one p{
    color: #202124;
}
.structure-one h2{
    color: #1a0dab;
    font-weight: 100;
}
.structure-basic h2{
    color: #1a0dab;
    font-weight: 100;
    padding: 5px 0px 5px 0px;
}   
.margin{
    margin-bottom: 20px;
    visibility: hidden;
}
main h3{
    color: #202124;
    font-weight: 100;
    border-bottom: 1px solid lightgray;
    margin: 5px 1px;
}
.img1{
    background-color: black;
}
.img2{
    background-color: darkgrey;
}
.img3{
    background-color: blue;
}
.img4{
    background-color: green;
}
.img5{
    background-color: aqua;
}
.img6{
    background-color: blueviolet;
}
.structure-basic{
    margin-bottom: 20px;
}
.structure-basic p{
    color: #202124;
}
.proposed-description{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.proposed-description p{
    color: #202124;
    font-size: 16px;
}
.img{
    width: 100px;
    height: 100px;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: center;
}
.see-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
}
button{
    padding: 10px 90px;
    border-radius: 30px;
    border: 0.5px solid lightgray;
    background-color: white;
    color: #1a0dab;
    margin: 10px 20px 30px 20px;
}
.proposed-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.visiblity{
    visibility: hidden;
}
.row-1{
    max-width: 50%;
}
.row-2{
    max-width: 50%;
}
.structure-proposed-links span{
    margin: 10px;
}
.structure-proposed-links{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #f1f3f4;
    margin: 5px;
    border-radius: 40px;
}
.structure-proposed-links p{
    width: 80%;
    font-size: 16px;
}
.b{
    color: #4285f4;
}
.r{
    color: red;
}
.o{
    color: orange;
}
.g{
    color: green;
}
.final{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.final-one span{
    padding: 0px;
    font-size: 30px;
    font-weight: 900;
}
footer{
    padding-left: 180px;
    background: #f2f2f2;
    width: 100%;
    min-height: 10px;
    color: #70757a;
}
.footer-flex{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    padding: 10px 5px 5px 5px;
}
.footer-flex div{
    margin: 10px;
}
.footer-flex ul{
    margin: 0;
}
.footer-flex li{
    display: inline-block;
}
.flex-end{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.flex-end p{
    color: #3c4043;
}
.hr-footer{
    border-right: 1px solid black;
    padding-right: 10px;
}
.flex-footer-two{
    display: flex;
    justify-content: flex-start;
    padding: 5px 5px 15px 5px;
}
.flex-footer-two li{
    display: inline-block;
    margin: 10px;
}
.final-two{
    display: flex;
    justify-content: space-between;
}
.margin-0{
    margin-left: 30px;
}
main h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.hover:hover{
    text-decoration: underline;
    cursor: pointer;
}
.structured-proposed-films p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.structure-proposed-links p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.final-two{
    margin-top: 10px;
}
.final-two span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.flex-footer-two li:hover{
    text-decoration: underline;
    cursor: pointer;
}